<div id="<%= dom_id listing %>">
  <p>
    <strong>Resource name:</strong>
    <%= listing.resource_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= listing.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= listing.user.name %>
  </p>

</div>
