<p style="color: green"><%= notice %></p>

<% content_for :title, "Listings" %>

<h1>Listings</h1>

<%= render "my_resources" %>

<h2>Active Listings</h2>
<div id="listings">
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Owner</th>
      </tr>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%=link_to listing.resource_type.name, listing%></td>
          <td><%=listing.quantity%></td>
          <td><%=listing.price%></td>
          <td>
            <%=listing.user.name%>
            <%= " (you)" if listing.user_id == Current.user.id %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New listing", new_listing_path %>
