<p style="color: green"><%= notice %></p>

<% content_for :title, "Listings" %>

<h1>Listings</h1>

<div id="listings">
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Owner</th>
      </tr>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%=link_to listing.resource_name, listing%></td>
          <td><%=listing.quantity%></td>
          <td><%=listing.price%></td>
          <td><%=listing.user_id%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New listing", new_listing_path %>
